.hero {
  min-height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 40px; /* shifts content upward */
  background: radial-gradient(circle at top, #020617, #000);
}


.hero-title{
  font-size: 3.8rem;
  font-weight: 800;
  letter-spacing: 4px;
  color: #ffffff;
  text-shadow:
    0 0 20px rgba(34, 197, 94, 0.6),
    0 0 40px rgba(34, 197, 94, 0.3);
  margin-bottom: 14px;
  animation: fadeSlide 1s ease-out;
}

.hero-subtitle {
  font-size: 1.3rem;
  font-weight: 600;
  color: #facc15;
  margin-bottom: 12px;
}

.hero-text {
  max-width: 620px;
  font-size: 1rem;
  color: #9ca3af;
  line-height: 1.6;
  margin-bottom: 28px;
}

.hero-buttons {
  display: flex;
  gap: 18px;
}

.btn {
  padding: 12px 26px;
  border-radius: 12px;
  font-weight: 700;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.primary {
  background: linear-gradient(135deg, #22c55e, #16a34a);
  color: #fff;
  box-shadow: 0 10px 30px rgba(34, 197, 94, 0.4);
}

.secondary {
  background: transparent;
  color: #60a5fa;
  border: 1px solid rgba(96, 165, 250, 0.6);
  padding: 12px 28px;
  border-radius: 8px;
}

.tertiary {
  background: transparent;
  border: 1px solid #facc15;
  color: #facc15;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 15px 40px rgba(34, 197, 94, 0.6);
}

.hero-divider {
  margin-top: 40px;
  width: 140px;
  height: 3px;
  background: linear-gradient(to right, transparent, #22c55e, transparent);
}


@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
